PORT=3000
SSH_HOST=54.236.203.255
SSH_USER=ubuntu
SSH_KEY=keys/id_rsa.pem
TOKEN_PRIVATE_KEY=l8nUS0sy9w
REFRESH_TOKEN_PRIVATE_KEY=mA3XT98h1z
SSH_PASSWORD_KEY=Od3e5I5j5G3TO4£p8
SSH_PASSWORD_IV=q8Xy488OeR9u
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASS=